.button {
  border: 0;
  padding: 0 37px;
  display: inline-block;
  vertical-align: middle;
  background: #FFE783;
  border-radius: 4px;
  height: 48px;
  border-bottom: 1px solid #D1BB5D;
  cursor: pointer;
  &:hover {
    background: #FFEB99;
  }
  &:disabled {
    opacity: .5;
  }
}