.checkbox {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  position: relative;
  overflow: hidden;
  user-select: none;
  cursor: pointer;

  input {
    position: absolute;
    left: -777px;
    &:checked + .checkbox__square {
      @extend %confirm-image;
      background-size: 10px 9px;
      background-color: #FFE783;
      border-color: #D1BB5D;
    }
  }

  &__label {
    font-size: 14px;
    margin-left: 11px;
    line-height: 13px;
  }

  &__square {
    width: 16px;
    height: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

}