.count-button {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  & + & {
    margin-left: 14px;
  }
  &__text {
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
  }
}